<a href="https://colab.research.google.com/github/niruthikka24/Diabetes-Dataset-Preprocessing/blob/main/CS3120_Data_Pre_processing_Lab_Exercise_Diabetes_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from matplotlib import pyplot

from scipy import stats
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [ ]:
uploaded = files.upload()

Saving diabetes.csv to diabetes.csv

In [ ]:
df = pd.read_csv('diabetes.csv')
print(df.head())
print(df.shape)
print(df.isna().sum())

   Patient_ID  Pregncies  Glucose  BloodPressure  SkinThickness  Insulin  \
0           1        6.0    148.0           72.0           35.0      0.0
1           2        1.0     85.0           66.0           29.0      0.0
2           3        8.0    183.0           64.0            0.0      0.0
3           4        1.0     89.0           66.0           23.0     94.0
4           5       -1.0    137.0           40.0           35.0    168.0

    BMI  DiabetesPedigreeFunction   Age  Outcome
0  33.6                     0.627  50.0        1
1  26.6                     0.351  31.0        0
2  23.3                     0.672  32.0        1
3  28.1                     0.167  21.0        0
4  43.1                     2.288  33.0        1
(770, 10)
Patient_ID                  0
Pregncies                   2
Glucose                     2
BloodPressure               4
SkinThickness               4
Insulin                     3
BMI                         2
DiabetesPedigreeFunction    3
Age                         4
Outcome                     0
dtype: int64

In [ ]:
df = df.drop_duplicates(subset=['Pregncies', 'Glucose', 'BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Outcome'])
df.shape

(768, 10)

In [ ]:
df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = df[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)
df.isnull().sum()

Patient_ID                    0
Pregncies                     2
Glucose                       7
BloodPressure                39
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
df.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,766.000000,761.000000,729.000000,537.000000,393.000000,755.000000,765.000000,764.000000,768.000000
mean,384.500000,3.828982,121.264126,70.914952,29.178771,155.587786,32.467285,0.472037,33.243455,0.348958
std,221.846794,3.392532,31.789147,41.604673,10.488875,118.924659,6.928391,0.331708,11.782360,0.476951
min,1.000000,-6.000000,-129.000000,-1000.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.000000,64.000000,22.000000,76.000000,27.500000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.371000,29.000000,0.000000
75%,576.250000,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626000,41.000000,1.000000
max,768.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
dfmed = df.copy(deep = True)
dfmed.head()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50.0,1
1,2,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31.0,0
2,3,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32.0,1
3,4,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,5,-1.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1

In [ ]:
dfmed.isna().sum()

Patient_ID                    0
Pregncies                     2
Glucose                       7
BloodPressure                39
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
dfmed[dfmed < 0] = np.NaN #making negative values NaN

In [ ]:
dfmed.isna().sum()

Patient_ID                    0
Pregncies                     4
Glucose                       8
BloodPressure                40
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
for col in dfmed.columns:
  dfmed[col] = dfmed[col].fillna(dfmed[col].median())

In [ ]:
dfmed.isna().sum()

Patient_ID                  0
Pregncies                   0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
dfmed.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.843750,121.545573,72.365885,29.125000,140.652344,32.464453,0.471642,33.221354,0.348958
std,221.846794,3.365453,30.327857,12.067940,8.768647,86.384908,6.869459,0.331119,11.755571,0.476951
min,1.000000,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.750000,64.000000,25.000000,121.500000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.371000,29.000000,0.000000
75%,576.250000,6.000000,140.000000,80.000000,32.000000,126.250000,36.600000,0.624500,41.000000,1.000000
max,768.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
corr = dfmed.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
dfmedout = dfmed.copy(deep=True)
dfmedout.isna().sum()

In [ ]:
for col in dfmedout.columns:
  Q1 = dfmedout[col].quantile(0.25)
  Q3 = dfmedout[col].quantile(0.75)
  IQR = Q3 - Q1
  whisker_width = 1.5
  lower_whisker = Q1 -(whisker_width*IQR)
  upper_whisker = Q3 + (whisker_width*IQR)
  med = dfmedout[col].median()
  dfmedout[col]=np.where(dfmedout[col]>upper_whisker,med,np.where(dfmedout[col]<lower_whisker,med,dfmedout[col]))

In [ ]:
dfmedout.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.781250,121.545573,72.087240,28.776042,124.923177,32.215625,0.427376,32.740885,0.348958
std,221.846794,3.266369,30.327857,10.841705,5.733031,1.334756,6.404724,0.244849,11.049576,0.476951
min,1.000000,0.000000,44.000000,40.000000,15.000000,115.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.750000,64.000000,27.000000,125.000000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.371000,29.000000,0.000000
75%,576.250000,6.000000,140.000000,80.000000,30.000000,125.000000,36.300000,0.582000,40.000000,1.000000
max,768.000000,13.000000,199.000000,104.000000,42.000000,132.000000,50.000000,1.191000,66.000000,1.000000

In [ ]:
corr = round(dfmedout.corr(),2)
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
dfclassmed = df.copy(deep = True)
dfclassmed[dfclassmed < 0] = np.NaN
dfclassmed.isna().sum()

Patient_ID                    0
Pregncies                     4
Glucose                       8
BloodPressure                40
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
outcome0 = dfclassmed[dfclassmed['Outcome']==0]
outcome1 = dfclassmed[dfclassmed['Outcome']==1]
for col in dfclassmed.columns:
  med0 = outcome0[col].median()
  med1 = outcome1[col].median()
  missing = dfclassmed[col].isna()
  dfclassmed.loc[missing, col] = np.where(dfclassmed.loc[missing, 'Outcome'] == 0, med0, med1)
  # missing = dfclassmed[col].isna()
  # mapdict = dict({0:med0,1:med1})
  # missing.loc[missing,col] = dfclassmed.loc[missing,'Outcome'].map(mapdict)
  # dfclassmed[col] = dfclassmed[col].fillna()

In [ ]:
dfclassmed.isna().sum()

Patient_ID                  0
Pregncies                   0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
dfclassmed.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.848958,121.570312,72.355469,29.096354,140.933594,32.443620,0.471806,33.222656,0.348958
std,221.846794,3.364916,30.368965,12.078835,8.869830,89.458760,6.875656,0.331097,11.758485,0.476951
min,1.000000,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.750000,64.000000,25.000000,100.000000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,28.000000,100.000000,32.050000,0.372500,29.000000,0.000000
75%,576.250000,6.000000,140.000000,80.000000,32.000000,169.500000,36.600000,0.624500,41.000000,1.000000
max,768.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
outcome0 = dfclassmed[dfclassmed['Outcome']==0]
outcome1 = dfclassmed[dfclassmed['Outcome']==1]
for col in dfclassmed.columns:
  for target in [0,1]:
    dfsub = dfclassmed[dfclassmed['Outcome']==target]
    med = dfsub[col].median()
    Q1 = dfsub[col].quantile(0.25)
    Q3 = dfsub[col].quantile(0.75)
    IQR = Q3 - Q1
    whisker_width = 1.5
    lower_whisker = Q1 -(whisker_width*IQR)
    upper_whisker = Q3 + (whisker_width*IQR)
    dfclassmed.loc[(dfclassmed['Outcome'] == target) & (dfclassmed[col] < lower_whisker), col] = med
    dfclassmed.loc[(dfclassmed['Outcome'] == target) & (dfclassmed[col] > upper_whisker), col] = med

In [ ]:
dfclassmed.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.00000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.71224,120.735677,71.965495,28.643229,124.276042,32.204687,0.434895,31.990885,0.348958
std,221.846794,3.22017,29.467533,10.577357,6.779277,33.320898,6.414139,0.260466,10.194519,0.476951
min,1.000000,0.00000,56.000000,44.000000,11.000000,81.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.00000,100.000000,64.000000,27.000000,100.000000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.00000,116.000000,72.000000,28.000000,100.000000,32.000000,0.349000,28.000000,0.000000
75%,576.250000,6.00000,139.000000,78.000000,32.000000,169.500000,36.300000,0.586000,39.000000,1.000000
max,768.000000,17.00000,199.000000,102.000000,45.000000,169.500000,50.000000,1.394000,67.000000,1.000000

In [ ]:
dfclassmean = df.copy(deep = True)
dfclassmean[dfclassmean < 0] = np.NaN
dfclassmean.isna().sum()

Patient_ID                    0
Pregncies                     4
Glucose                       8
BloodPressure                40
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
outcome0 = dfclassmean[dfclassmean['Outcome']==0]
outcome1 = dfclassmean[dfclassmean['Outcome']==1]
for col in dfclassmean.columns:
  mean0 = outcome0[col].mean()
  mean1 = outcome1[col].mean()
  missing = dfclassmean[col].isna()
  dfclassmean.loc[missing, col] = np.where(dfclassmean.loc[missing, 'Outcome'] == 0, mean0, mean1)

In [ ]:
dfclassmean.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.853595,121.602165,72.398580,29.257878,156.979485,32.458037,0.472190,33.240401,0.348958
std,221.846794,3.365735,30.365373,12.078203,8.901885,88.867459,6.874308,0.331087,11.753118,0.476951
min,1.000000,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.750000,64.000000,25.000000,121.500000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,28.000000,130.250951,32.050000,0.374500,29.000000,0.000000
75%,576.250000,6.000000,141.000000,80.000000,33.000000,206.846154,36.600000,0.624500,41.000000,1.000000
max,768.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
outcome0 = dfclassmean[dfclassmean['Outcome']==0]
outcome1 = dfclassmean[dfclassmean['Outcome']==1]
for col in dfclassmean.columns:
  for target in [0,1]:
    dfsub = dfclassmean[dfclassmean['Outcome']==target]
    mean = dfsub[col].mean()
    Q1 = dfsub[col].quantile(0.25)
    Q3 = dfsub[col].quantile(0.75)
    IQR = Q3 - Q1
    whisker_width = 1.5
    lower_whisker = Q1 -(whisker_width*IQR)
    upper_whisker = Q3 + (whisker_width*IQR)
    dfclassmean.loc[(dfclassmean['Outcome'] == target) & (dfclassmean[col] < lower_whisker), col] = mean
    dfclassmean.loc[(dfclassmean['Outcome'] == target) & (dfclassmean[col] > upper_whisker), col] = mean

In [ ]:
dfclassmean.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.733777,120.812721,72.029064,28.856913,146.015326,32.229839,0.438231,32.140756,0.348958
std,221.846794,3.215564,29.446216,10.579219,6.852678,47.110824,6.416273,0.260136,10.152705,0.476951
min,1.000000,0.000000,56.000000,44.000000,11.000000,43.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,100.000000,64.000000,27.000000,130.250951,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,116.000000,72.000000,28.000000,130.250951,32.000000,0.374500,29.000000,0.000000
75%,576.250000,6.000000,139.000000,78.000000,33.000000,206.846154,36.300000,0.586000,39.000000,1.000000
max,768.000000,17.000000,199.000000,102.000000,45.000000,250.000000,50.000000,1.394000,67.000000,1.000000

In [ ]:
uploaded = files.upload()

Saving preprocessed3.csv to preprocessed3.csv

In [ ]:
dfpre3 = pd.read_csv('preprocessed3.csv')
dfpre3.head()

In [ ]:
uploaded = files.upload()

Saving diabetes.csv to diabetes (1).csv

In [ ]:
dfnew = pd.read_csv('diabetes (1).csv')
dfnew.isna().sum()

Patient_ID                  0
Pregncies                   2
Glucose                     2
BloodPressure               4
SkinThickness               4
Insulin                     3
BMI                         2
DiabetesPedigreeFunction    3
Age                         4
Outcome                     0
dtype: int64

In [ ]:
dfnew.shape

(770, 10)

In [ ]:
dfnew.drop_duplicates(subset=dfnew.columns.difference(['Patient_ID']),inplace=True)
dfnew.shape

(768, 10)

In [ ]:
dfnew = dfnew.drop_duplicates(subset=['Pregncies', 'Glucose', 'BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Outcome'])
dfnew.shape

(768, 10)

In [ ]:
dfnew[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = dfnew[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)
dfnew.isnull().sum()

Patient_ID                    0
Pregncies                     2
Glucose                       7
BloodPressure                39
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
dfclassmedqr = dfnew.copy(deep=True)
dfclassmedqr[dfclassmedqr < 0] = np.NaN
dfclassmedqr.isna().sum()

Patient_ID                    0
Pregncies                     4
Glucose                       8
BloodPressure                40
SkinThickness               231
Insulin                     375
BMI                          13
DiabetesPedigreeFunction      3
Age                           4
Outcome                       0
dtype: int64

In [ ]:
outcome0 = dfclassmedqr[dfclassmedqr['Outcome']==0]
outcome1 = dfclassmedqr[dfclassmedqr['Outcome']==1]
for col in dfclassmedqr.columns:
  median0 = outcome0[col].median()
  median1 = outcome1[col].median()
  missing = dfclassmedqr[col].isna()
  dfclassmedqr.loc[missing, col] = np.where(dfclassmedqr.loc[missing, 'Outcome'] == 0, median0, median1)

In [ ]:
for col in dfclassmedqr.columns:
  for target in [0,1]:
    dfsub = dfclassmedqr[dfclassmedqr['Outcome']==target]
    Q1 = dfsub[col].quantile(0.25)
    Q3 = dfsub[col].quantile(0.75)
    IQR = Q3 - Q1
    whisker_width = 1.5
    lower_whisker = Q1 -(whisker_width*IQR)
    upper_whisker = Q3 + (whisker_width*IQR)
    dfclassmedqr.loc[(dfclassmedqr['Outcome'] == target) & (dfclassmedqr[col] < lower_whisker), col] = lower_whisker
    dfclassmedqr.loc[(dfclassmedqr['Outcome'] == target) & (dfclassmedqr[col] > upper_whisker), col] = upper_whisker

In [ ]:
dflis = [dfmed,dfmedout,dfclassmed,dfclassmean,dfclassmedqr,dfpre3]
for df in dflis:
  x = df.drop(['Outcome','Patient_ID'],axis=1)
  y = df['Outcome']
  xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.20, random_state=17)
  rf = RandomForestClassifier(n_estimators = 70)
  rf.fit(xtrain,ytrain)
  pred = rf.predict(xtest)
  acc = accuracy_score(ytest, pred)
  f1 = f1_score(ytest,pred)
  print("Accuracy", acc)
  print("F1", f1)
  print("=======================================================================")

Accuracy 0.7792207792207793
F1 0.653061224489796
=======================================================================
Accuracy 0.7662337662337663
F1 0.6399999999999999
=======================================================================
Accuracy 1.0
F1 1.0
=======================================================================
Accuracy 0.974025974025974
F1 0.9636363636363636
=======================================================================
Accuracy 1.0
F1 1.0
=======================================================================
Accuracy 0.7922077922077922
F1 0.6799999999999999
=======================================================================

In [ ]:
for df in dflis:
  x = df.drop(['Outcome','Patient_ID'],axis=1)
  y = df['Outcome']
  xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.20, random_state=17)
  knn = KNeighborsClassifier(n_neighbors=15)
  knn.fit(xtrain,ytrain)
  pred = knn.predict(xtest)
  acc = accuracy_score(ytest, pred)
  f1 = f1_score(ytest,pred)
  print("Accuracy", acc)
  print("F1", f1)
  print("=======================================================================")

Accuracy 0.7987012987012987
F1 0.693069306930693
=======================================================================
Accuracy 0.7857142857142857
F1 0.6732673267326733
=======================================================================
Accuracy 1.0
F1 1.0
=======================================================================
Accuracy 0.935064935064935
F1 0.9090909090909091
=======================================================================
Accuracy 1.0
F1 1.0
=======================================================================
Accuracy 0.7727272727272727
F1 0.631578947368421
=======================================================================

In [ ]:
corr = dfclassmean.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
dfclassmean.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.733777,120.812721,72.029064,28.856913,146.015326,32.229839,0.438231,32.140756,0.348958
std,221.846794,3.215564,29.446216,10.579219,6.852678,47.110824,6.416273,0.260136,10.152705,0.476951
min,1.000000,0.000000,56.000000,44.000000,11.000000,43.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,100.000000,64.000000,27.000000,130.250951,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,116.000000,72.000000,28.000000,130.250951,32.000000,0.374500,29.000000,0.000000
75%,576.250000,6.000000,139.000000,78.000000,33.000000,206.846154,36.300000,0.586000,39.000000,1.000000
max,768.000000,17.000000,199.000000,102.000000,45.000000,250.000000,50.000000,1.394000,67.000000,1.000000

In [ ]:
dfclassmedqr.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.829427,121.428385,72.312500,28.923828,124.354167,32.382292,0.458712,33.001302,0.348958
std,221.846794,3.318129,30.081984,11.489182,7.830213,34.758783,6.669450,0.286677,11.178707,0.476951
min,1.000000,0.000000,45.000000,43.000000,10.375000,80.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.750000,64.000000,25.000000,100.000000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,28.000000,110.000000,32.050000,0.372500,29.000000,0.000000
75%,576.250000,6.000000,140.000000,80.000000,32.000000,169.500000,36.600000,0.624500,41.000000,1.000000
max,768.000000,17.000000,199.000000,103.000000,45.000000,169.500000,50.587500,1.424375,68.000000,1.000000

In [ ]:
dfmedout.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.781250,121.545573,72.087240,28.776042,124.923177,32.215625,0.427376,32.740885,0.348958
std,221.846794,3.266369,30.327857,10.841705,5.733031,1.334756,6.404724,0.244849,11.049576,0.476951
min,1.000000,0.000000,44.000000,40.000000,15.000000,115.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,99.750000,64.000000,27.000000,125.000000,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.371000,29.000000,0.000000
75%,576.250000,6.000000,140.000000,80.000000,30.000000,125.000000,36.300000,0.582000,40.000000,1.000000
max,768.000000,13.000000,199.000000,104.000000,42.000000,132.000000,50.000000,1.191000,66.000000,1.000000

In [ ]:
dfclassmean.isna().sum()

Patient_ID                  0
Pregncies                   0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
dfclassmean.to_csv('dfclassmean.csv', index=False)
files.download('dfclassmean.csv')

In [ ]:
uploaded = files.upload()

Saving 190604N.csv to 190604N.csv

In [ ]:
dffin = pd.read_csv('190604N.csv')

In [ ]:
dffin.isna().sum()

Patient_ID                  0
Pregncies                   0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
dffin2 = round(dffin['Outcome'],0)
dffin.head()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,6.000000,148.0,72.000000,35.0,206.846154,33.6,0.62700,50.0,1
1,2.0,1.000000,85.0,66.000000,29.0,130.250951,26.6,0.35100,31.0,0
2,3.0,8.000000,183.0,64.000000,33.0,206.846154,23.3,0.67200,32.0,1
3,4.0,1.000000,89.0,66.000000,23.0,94.000000,28.1,0.16700,21.0,0
4,5.0,4.890152,137.0,75.321429,35.0,168.000000,43.1,0.55238,33.0,1

In [ ]:
dfclassmean['Outcome'] = pd.to_numeric(dfclassmean['Outcome'])
dfclassmean.head()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,6.000000,148.0,72.000000,35.0,206.846154,33.6,0.62700,50.0,1.0
1,2.0,1.000000,85.0,66.000000,29.0,130.250951,26.6,0.35100,31.0,0.0
2,3.0,8.000000,183.0,64.000000,33.0,206.846154,23.3,0.67200,32.0,1.0
3,4.0,1.000000,89.0,66.000000,23.0,94.000000,28.1,0.16700,21.0,0.0
4,5.0,4.890152,137.0,75.321429,35.0,168.000000,43.1,0.55238,33.0,1.0

In [ ]:
dffin2 = dffin.drop(['Outcome'],axis=1)
dfclassmean2 = dfclassmean.drop(['Outcome'],axis=1)
dffin2.equals(dfclassmean2)

False

In [ ]:
dffin.equals(dfclassmean)

False

In [ ]:
dffin.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.733777,120.812721,72.029064,28.856913,146.015326,32.229839,0.438231,32.140756,0.348958
std,221.846794,3.215564,29.446216,10.579219,6.852678,47.110824,6.416273,0.260136,10.152705,0.476951
min,1.000000,0.000000,56.000000,44.000000,11.000000,43.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,100.000000,64.000000,27.000000,130.250951,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,116.000000,72.000000,28.000000,130.250951,32.000000,0.374500,29.000000,0.000000
75%,576.250000,6.000000,139.000000,78.000000,33.000000,206.846154,36.300000,0.586000,39.000000,1.000000
max,768.000000,17.000000,199.000000,102.000000,45.000000,250.000000,50.000000,1.394000,67.000000,1.000000

In [ ]:
dfclassmean.describe()

,Patient_ID,Pregncies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,384.500000,3.733777,120.812721,72.029064,28.856913,146.015326,32.229839,0.438231,32.140756,0.348958
std,221.846794,3.215564,29.446216,10.579219,6.852678,47.110824,6.416273,0.260136,10.152705,0.476951
min,1.000000,0.000000,56.000000,44.000000,11.000000,43.000000,18.200000,0.078000,21.000000,0.000000
25%,192.750000,1.000000,100.000000,64.000000,27.000000,130.250951,27.575000,0.244000,24.000000,0.000000
50%,384.500000,3.000000,116.000000,72.000000,28.000000,130.250951,32.000000,0.374500,29.000000,0.000000
75%,576.250000,6.000000,139.000000,78.000000,33.000000,206.846154,36.300000,0.586000,39.000000,1.000000
max,768.000000,17.000000,199.000000,102.000000,45.000000,250.000000,50.000000,1.394000,67.000000,1.000000